<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnrlDB.Properties.Settings.AnrlDBConnectionString"
            connectionString="Data Source=HELIOS6X-PC;Initial Catalog=AnrlDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>